@font-face {
  font-family: 'iconfont'; /* Project id 4850985 */
  src: url('./iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiaoqu:before {
  content: "\e640";
}

.icon-shouye:before {
  content: "\e698";
}

.icon-shangcheng:before {
  content: "\e69a";
}

.icon-shouye1:before {
  content: "\e69b";
}

.icon-wode:before {
  content: "\e6a2";
}

.icon-weidenglu:before {
  content: "\e6a3";
}

.icon-shangcheng1:before {
  content: "\e6b9";
}

.icon-xueyuan-faxian:before {
  content: "\e6bf";
}

.icon-xueyuan-faxian1:before {
  content: "\e6c0";
}

